<div class="gavias-blockbuilder-content">
  {% if edit_url is not empty %}
   <a class="link-edit-blockbuider" href="{{ edit_url }}"> Config block builder </a>
  {% endif %} 
  {{ content|raw }}  
 </div> 
