@import "vars/_theme_variables";
@import "var/variables";
@import "mixins/mixins";
@import "mixins/template";
@import "rtl/rtl"; 

@import "template/base";
@import "template/fonts";
@import "template/layout";
@import "template/page";
@import "template/node";
@import "template/portfolio";
@import "template/grid";
@import "template/team";
@import "template/testimonial";
@import "template/courses";
@import "template/event";
@import "template/gallery";
@import "template/style";
@import "template/comments";
@import "template/forms";
@import "template/forum";
@import "template/blocks";
@import "template/module";
@import "template/menu";
@import "template/views";
@import "template/block-builder"; 
@import "template/views-magazine";   
@import "template/effect";
@import "template/responsive"; 
@import "template/theme-settings";