$theme-color: 		#D91897;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #D91897;
$brand-primary:    #D91897;