<article class="testimonial-node-v4">      
   <div class="testimonial-content">
      <div class="content">
         <div class="content-inner">
            <div class="quote">{{ fields.body.content|striptags|trim }}</div>  
            <div class="info clearfix">
               <div class="title">{{ fields.field_testimonial_name.content }}</div>  
               <div class="job">{{ fields.field_testimonial_job.content }}</div>   
            </div> 
         </div>    
      </div>
   </div>
</article>
