<article class="testimonial-node-v3">      
   <div class="testimonial-content">
      <div class="content">
         <div class="content-inner">
            <div class="avatar text-center">{{ fields.field_testimonial_avatar.content }}</div> 
            <div class="quote">{{ fields.body.content|striptags|trim }}</div>  
            <div class="info clearfix">
               <span class="title">{{ fields.field_testimonial_name.content }}</span>  
               <span class="job">{{ fields.field_testimonial_job.content }}</span>   
            </div> 
         </div>    
      </div>
   </div>
</article>
