<div class="post-style-grid-3">
   <div class="row">
      {% set i = 0 %}
      {% for row in rows %}

         {% set i = i + 1 %}
         {# If i < 3 #}
         {% if i < 3 %}
            {% if i % 2 == 1 %}<div class="col-md-3 col-sm-12 col-xs-12 col-1">{% endif %} 
               {{ row.content }}
            {% if i % 2 == 0 or i == rows|length %} </div> {% endif %}
         {% endif %}      

         {# If i = 3 #}
         {% if i == 3 %}
            <div class="col-md-6 col-sm-12 col-xs-12 col-2">
               {{ row.content }}
            </div>
         {% endif %}

         {# If i > 3 #}
         {% if i > 3 %}
            {% if i % 2 == 0 %}<div class="col-md-3 col-sm-12 col-xs-12 col-3">{% endif %}   
               {{ row.content }}
            {% if i % 2 == 1 or i == rows|length %}</div> {% endif %}
         {% endif %} 

         {# If i = 5 -> rest i #}
         {% if i == 5 %}{% set i = 0 %}{% endif %}

      {% endfor %}
   </div>   
</div>
