$theme-color: 		#8F6684;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #8F6684;
$brand-primary:    #8F6684; 
