<div class="offcanvas-sidebar hidden-lg hidden-md">
      <div id="gva-offcanvas-inner" class="gva-offcanvas-inner">
         {% if page.offcanvas %}
            {{ page.offcanvas }}
         {% endif %}
      </div>
   </div>   