{% if preloader == 1 %}
    <div id="jpreContent">
        <div id="jprecontent-inner">
           <div class="preloader-wrapper hidden active">
              <img src="{{ theme_path }}/images/preloader/preloader-7.gif" alt="" />
           </div>  
        </div>
      </div>
  {% endif %} 