$theme-color: 		#9854B3;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #9854B3;
$brand-primary:    #9854B3;