$theme-color: 		#F3605D;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #F3605D;
$brand-primary:    #F3605D;