html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  &.boxed{ 
    max-width: 1440px;  
    margin: 0 auto;
    @include box-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
    background-color: #efefef;
    div.body-page{
      background: $white;
    }
  }
  .body-page{
    background-color: #fff;
  }
  &.logged-in{
    &.toolbar-horizontal{
      .header-v2{
        top: 39px;
      }
    }
  }
}


.topbar{
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding: 15px 0;
  margin-top: -1px;
  @media(max-width: $screen-xs-max){
    display: none;
  }
  i{
    color: $black;
    font-size: 14px;
    &:hover{
      color: lighten($theme-color, 10%);
    }
  }
  .block{
    margin: 0!important;
  }
}

.language-box{
  .links{
    > li{
      margin-right: 10px;
      @include opacity(0.6);
      line-height: 1;
      margin-top: 5px;
      float: right;
      &.is-active{
        @include opacity(1);
      }
    }
  }
}

header{
  .header-main{
    padding: 30px 0;
    background: $white; 
  }
  .site-branding-logo{
    padding: 10px 0;
    display: inline-block;
    max-height: 60px;
  }
  @media(max-width: $screen-sm-max){
    .site-branding{
      text-align: left;
      padding-bottom: 10px;
    }
    .header-right-inner, .header-right-inner .block{
      text-align: center!important;
    }
  }
  .header-main{
    padding: 0;
    background: none;
  }
  .area-main-menu{
    .navigation{
      position: static;
      ul.gva_menu{
        position: static;
      }
    }
    .area-inner{
      padding-left: 40px;
    }
    .gva-search-region{
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -15px;
      z-index: 9;
      @media(max-width: $screen-sm-max){
        margin-top: -5px;
        top: 30px;
        right: 85px;
        .icon{
          color: $black!important;
        }
      }
      .icon{
        font-size: 14px;
        color: $black;
        &:hover{
          cursor: pointer;
        }
      }
      .search-content{ 
        display: none;
        width: 305px;
        position: absolute;
        top: 43px;
        right: 0;
        margin-top: -1px;
        z-index: 99;
        background: $white;
        padding: 20px;
        @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
        input#edit-keys{
          height: 35px;
          padding: 5px;
          border: 1px solid $border-color;
          background: none;
          width: 168px;
        }
        #edit-submit{
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
        }
        #edit-actions{
          margin: 0!important;
          padding: 0!important;
        }
      }
      &.show{
        .search-content{
          display: block;
        }
      }
    }
  }
  .block{
    overflow: visible;
  }

  .header-info{
    .header-icon-clock, .header-icon-phone, .header-icon-address{
      @include size(40px, 50px);
      float: left;
    }
    .header-icon-clock{
      background: url('#{$base-theme-image-path}/icons/icon-clock.png') no-repeat left center;
    }
    .header-icon-phone{
      background: url('#{$base-theme-image-path}/icons/icon-phone.png') no-repeat left center;
    }
    .header-icon-address{
      background: url('#{$base-theme-image-path}/icons/icon-address.png') no-repeat left center;
    }
    .content-inner{
      padding-left: 55px;
      padding-top: 6px;
      .title{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: #666666;
      }
      .desc{
        font-size: 12px;
        color: #999999;
      }
    }
  }
}

header.header-v1{
  position: relative;
  background: #fff;
  margin-top: 1px;
  @include box-shadow(0 3px 4px 0 rgba(0, 0, 0, 0.14));
  .gva-search-region{
    .icon{
      color: $black;
    }
  }
  .header-inner{
    padding-right: 30px;
  }
  .header-main{
    position: relative;
    z-index: 9;
  }
}  

header.header-v2{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 99;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  .gva-search-region{
    .icon{
      color: $white!important;
    }
    @media(max-width: $screen-sm-max){
      position: static;
      .icon{
        color: $black!important;
      }
    }
  }
  .header-inner{
    padding-right: 40px;
  }
  .navigation .gva_menu > li{
    > a{
      color: $white;
    }
    &.menu-item--active-trail > a{
      color: $theme-color!important;
    }
  }

  .stuck{
    background: $white!important;
    .navigation .gva_menu > li > a{
      color: $black!important;
      &:hover{
        color: $theme-color!important;
      }
    }
  }
}

header.header-v3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: $nocolor;
  margin-top: 35px;
  .topbar{
    background: none;
    color: $white;
    i{
      color: $white;
    }
  }
  .header-main-inner{
    background: $white;
    @include border-radius(3px);
    padding: 0 20px;
  }
  .stuck{
    .header-main-inner{
      margin-top: 0;
    }
  }
  .gva-search-region{
    right: 15px;
    .icon{
      color: $black;
    }
  }
  .header-inner{
    padding-right: 20px;
  }
}  

.stuck {
  background: $white!important;
  position:fixed!important;
  top: 0;
  left: 0;
  z-index: 99!important;
  width: 100%;
  @include box-shadow(0 0 5px 5px rgba(0, 0, 0, 0.1));
  @include transition(all 0.35s);
}
@media(min-width: $screen-md-max){
.sticky-is-hidden{
  .stuck{
    top: -200px;
  }
}
.sticky-is-show .stuck{
  @include box-shadow(0 1px 12px 0 rgba(0, 0, 0, 0.1));
  top: 0;
}
}

.area{
  &.slideshow_content{
    .block{
      margin-bottom: 0;
    }
  }
}

.area-panel{
  padding: 30px 0;
}

.header-right{
  .block{
    margin-bottom: 0;
  }
}

.promotion{
  padding: 0;
  margin-bottom: 0;
}

#page-main-content{
  min-height: 360px;
  @media(max-width: $screen-sm-max){
    min-height: 100px;
  }
}

.main-menu{
  .area-main-menu{
    .area-inner{
      .block{
        margin-bottom: 0;
      }
    }  
  }
}  

body{
  &.hidden-footer{
    .footer-center{
      display: none!important;
    }
  }
  &.copyright-fixed{
    #footer{
      z-index: 999!important;
    }
    .copyright{
      position: fixed;
      bottom: 0;
      z-index: 999;
      left: 0;
      width: 100%;
    }
  }
}

.footer{
  font-size: 14px;
  color: #bbbbbb;
  background: #252429;
  line-height: 28px;
  .footer-top{
    .before-footer{
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 30px 0;
    }
  }
  .footer-center{
    padding: 40px 0;
  }
  a{
    color: #bbbbbb;
    &:hover{
      color: $theme-color;
    }
  }
  .block{
    padding-bottom: 0;
    margin-bottom: 0;
    .block-title{
      &:after, &:before{
        background: $white!important;
      }
      span{
        color: $white!important;
      }
    }
  }
  @media(max-width: $screen-sm-max){
    .column{
      margin-bottom: 20px;
    }
  }
}

body.footer-fixed{
  .gva-body-page{
    background-color: $white;
    @include box-shadow(0 5px 30px rgba(0, 0, 0, 0.1));
    position: relative;
    z-index: 9;
    @media(max-width: $screen-sm-max){
      margin-bottom: 0!important;
    }
  }
  #footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    @media(max-width: $screen-sm-max){
      position: static;
    }
  }
}

.copyright{
  background: #1F1E23;
  a{
    &:hover{
      color: $theme-color;
    }
  }
  .copyright-inner{
    padding: 20px 0;
    .block{
      margin: 0;
    }
  }
}

