<div class="portfolio-carousel gallery-post text-center margin-bottom-30"> 
   <div class="image">{{ fields.field_gallery_image.content }}</div>
   <a class="link-image" data-rel="prettyPhoto[g_gal]" href="{{fields.field_gallery_image_1.content|striptags|trim}}"><i class="gv-icon-471"></i></a>
</div>